
/* custom.css */
/* fonts.css */
@font-face {
    font-family: 'TiltNeon';
    src: url('../../assets/Fonts/Tilt_Neon/static/TiltNeon-Regular.ttf') format('truetype'); /* Adjust the file path and format accordingly */
    /* You can include additional font formats for better browser support */
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.stick{
    position: absolute;
    transition-property:all ;
    transition-duration:.1s;
    transition: all .3s;
}
.left{
    width: 2px;
    height:100%;
    background-color: rgb(20, 142, 241);
    z-index: 1;
    left: 0;

    top: 100%;
}
.right{
    width: 2px;
    height:100%;
    right: 0px;
    top: -102%;
    background-color: rgb(11, 99, 170);
z-index: 2;
}
.top{
    left: 100%;
    top: 0;
    width: 100%;
    height:2px;
    background-color: rgb(78, 154, 216);

}
.bottom{
    width: 100%;
    height:2px;
    left: -100%;
    bottom:0;
    background-color: rgba(74, 59, 212, 0.836);
}
.navLinks{
    background-color:rgb(9, 21, 55) ;
}
.animateX{
    left:0;

}
.animateY{
    top: 0;

}
.item{
    cursor:pointer;
    border-radius: 2px;
    position: relative;
    display: flex;
    margin-left: 10px;
    width: 90px;
    height: 30px;
justify-content: center;
transition: box-shadow .4s ;
transition-delay: .2s;
color: #ffffff;
overflow:hidden;
}
.item:hover{
    box-shadow: 1px 1px 9px rgb(72, 36, 255);

}
.resume{
    font-size: 12px;
}
.aboutMe img{
    transition: transform .5s;
}
.social{
   background-color: rgb(9, 95, 129);
   font-weight: bold;
   width: 100px;
   height: 30px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
z-index: 100;
}
.getOnMe{
    color: white;
    font-size: 12px;
    width: 310px;
    height: 30px;
    text-align: center;
    position: fixed; 
    bottom: 10px;
    left: 0px;
    display: flex;
    justify-content:left;
    align-items: center;
    cursor: pointer;
 
 }
  .photo{
    position: relative;
    filter: drop-shadow(0px 60px 50px rgb(93, 93, 95));
    -webkit-filter: drop-shadow(0px 10px 20px rgb(121, 120, 120));

 }
.social_links{
    position:absolute;
    transition: all .2s ease-in;
    top: 0;
display: flex;
justify-content: center;
align-items: center;
}
.headingAboutMe{
    transition: transform .2s;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.headingAboutMe:hover{
    transform: scale(1.05);

}
.aboutMe img:hover{
    transform: scale(1.1);
}
.sliderContainer{
    }
.description{
    color: #000428;
    background-color: azure;
}
.carousel{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.featureItem{
    font-size: 13px;
    padding: 2px 10px;
    border: 1px solid lightgray;
}
.linearBlack {
    background: rgba(2,11,39,1);
    background: -moz-radial-gradient(circle at center, rgba(12,45,102,1) 0%, rgba(2,11,39,1) 50%);
    background: -webkit-radial-gradient(circle at center, rgba(12,45,102,1) 0%, rgba(2,11,39,1) 50%);
    background: radial-gradient(circle at center, rgba(208, 210, 213, 0.748) 10%,  rgba(139, 47, 47, 0) 40%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c2d66",endColorstr="#020b27",GradientType=1); 
   }
   .linearBlack2{
    background: rgb(12,45,102);
    background: -moz-radial-gradient(circle at  50% 175px, rgba(12,45,102,1) 0%, rgba(2,11,39,1) 57%);
    background: -webkit-radial-gradient(circle at  50% 175px, rgba(12,45,102,1) 0%, rgba(2,11,39,1) 57%);
    background: radial-gradient(circle at 50% 115px, rgba(12,45,102,1) 30%, rgba(2,11,39,1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c2d66",endColorstr="#020b27",GradientType=1);

}

.dot{
    width: 5px;
    height: 5px;
      border-radius: 50%;
    background-color: white;
    margin:2px;
}
.photoContainer{ 
    background-image: radial-gradient(circle at center,  rgba(225, 225, 225, 1)  30%, rgba(2,11,39,1)  70% );

    background-repeat: no-repeat;
    background-position:right center;
    background-size: cover;

}

.cta{

    position: relative;
}
.shade{
    position: absolute;
    border-radius: 50%;
    width:150px;
    height:150px;
    transform: scale(0);
    
}

.in{
    transition: transform .8s;
    transform-origin: center;
    transform: scale(2);
}
.out{
    transform: scale(0);
    transition: transform .4s;
    transform-origin: center;

}
.overlay{
    transition: all .5s;
    opacity: 0;
}
.img > .overlay:hover{
    opacity: 1;
}
.testimonialCtard {
    background-color: white;
}
.slide{
position: relative;
}
.slide::before{
    content: "Demo project";
    display: flex;
    justify-content: center;
    align-items: end; 
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
background: linear-gradient(0deg,rgb(23, 22, 22) 10% ,rgba(255, 250, 250, 0));
top: 0;
left: 0;
}
.logo{
 box-shadow: 1px 1px 5px rgb(105, 105, 106);
 color: white;
    
}
.projectContainer{
    background-color: #f7f8f8;
}

.header{
    background-color:  rgba(2,11,39,1);
}
.fadeIn{
animation:fadeIn .3s linear;
}
@keyframes fadeIn{
0%{
opacity: 0;
}
100%{
opacity: 1;
margin-top:0px;

}
}

.slideDown{
  position:fixed;
  top:0;
  left:0;
  width:50vw;
  height:100vh;
  background-color: rgb(12, 7, 7);
  transform-origin: bottom;  
  z-index:999;
}
.slideUp{
    position:fixed;
    top:0;
    left:50%;
    width:50vw;
    height:100vh;
    background-color: rgb(12, 7, 7);
    transform-origin: top;  
    z-index: 999;
  }
  .light{
    filter: blur(20px);
    background-color: #f7f9f929;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    z-index: 2;
    border-radius:50%;
  }

   @keyframes lightMoveLeft{
    0%,100%{
    }
    50%{
    }
  }
  @keyframes lightMoveRight{
    0%,100%{
    }
    50%{
    }
  }

.arrow{
    animation: moveUpDown 1s ease-in-out infinite;
}
  @keyframes moveUpDown{
    0%,100%{
        top:20px;
        opacity: .5;
    }
    50%{
        top:30px;
        opacity:1;
    }

  }
  .grid-lines {
    --s: 50px;  
    --t:1px;  
    background:
    linear-gradient( to right,rgb(11, 11, 30) 20% ,rgba(246, 244, 244, 0)),     /* url(../../assets/photo/heroPhoto3.png) 95% bottom no-repeat, */
    conic-gradient(from 92deg at var(--t) var(--t),#6d090900 25%,#153670 0)
       0 0/var(--s) var(--s)  ,rgb(9, 21, 55);
  }

  .icon-hover {
    transition: transform 0.3s ease;
  }
  
  .icon-hover:hover {
    transform: translateY(-10px); /* Moves the icon 5px up */
  }
  
  .card-item{
    transition: all .2s;
    background: linear-gradient(45deg,rgb(40, 92, 113),rgb(22, 20, 133));
  }
  .card-item:hover{
    box-shadow: 1px 1px 9px rgb(202, 239, 121);
  }
  .education{
    /* background: url('../../../assets/Sprinkle2.svg'); */
  }
.customShadow{
    background:  ,
    linear-gradient(45deg,rgb(10, 115, 114) 10%,rgb(9, 21, 55) 70%);
}
.testimonials ,.contact{
background:rgb(243, 241, 237);
}
.gradient-text {
    font-weight: bold;
    background: linear-gradient(to right, #4444ed, #ff0368); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For non-WebKit browsers */
  }
  fieldset { 
    border: 1px solid #b6b2b2; /* Border for the fieldset */
    padding: 10px;
    background-color:#ffffff ;
    width: 350px;
    
}
label{
    font-size: 13px;
}
.contact input, textarea{
    outline: none;
    color: black;
}
.trustedBy{
    background: linear-gradient(0deg,rgb(0, 0, 1) 20%,rgba(255, 255, 255, 0) );
}